.list {
  border: 2px solid #e0e9f2;
  border-radius: 12px;
}

.list > * {
  border-bottom: 2px solid #e0e9f2 !important;
}

.list > *:first-child {
  border-top: none !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.list > *:last-child {
  border-bottom: none !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
