.container {
  padding: 48px !important;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.content {
  width: 100%;
  padding-bottom: 42px;
  position: relative;
}

.name {
  padding: 0px;
  font-size: 21px;
  margin-bottom: 12px;
}

.status {
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.55em;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
}
