.container {
  width: 144px;
  position: relative;
  display: flex;
  padding: 0 0 0 36px;
  order: 1;
}

@media (min-width: 801px) {
  .container {
    padding-top: 36px;
  }
}

.mobileContainer {
  flex-basis: 100% !important;
}

.statusWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.title,
.title * {
  font-size: 16px !important;
}

.avatarWrapper {
  width: 144px;
  margin-right: 24px;
}

.avatar {
  width: 144px !important;
  height: 144px !important;
  font-size: 70px !important;
}

.avatarActions {
  margin-top: 12px;
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 801px) {
  .avatarActions > * {
    margin: 3px !important;
  }
}

.mobileActions {
  padding: 0 12px 10px 12px;
  display: flex;
}

.mobileActions > * {
  margin-right: 12px !important;
}

.info {
  margin: 0;
  width: calc(100% - 168px);
}

.nameWrapper {
  position: absolute;
  left: 100%;
  top: 36px;
  padding: 12px 0 0 24px;
  width: 200px;
  overflow: visible; /* Needed to avoid name being cut off */
  white-space: nowrap;
}

.name,
.name * {
  font-size: 21px !important;
  color: #333;
  font-weight: 600;
}

.status {
  padding-top: 3px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.statusIcon {
  height: 12px !important;
  width: 12px !important;
  margin-top: 4px !important;
  margin-right: 6px !important;
}

@media (max-width: 600px) {
  .info {
    width: calc(100% - 120px);
  }

  .avatar {
    width: 96px !important;
    height: 96px !important;
  }

  .container {
    padding: 24px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 12px;
  }

  .avatar {
    margin-right: 12px;
  }

  .nameWrapper {
    margin-bottom: 0;
  }
}

.link {
  text-decoration: none !important;
}

.overlayProfileWrapper * {
  animation: none;
}

.badge span {
  box-shadow: 0 0 0 2px #fff;
}
