node_modules
npm-debug.log
.tags*
.DS_Store
*~
webpack-assets.json
webpack-stats.json
webpack-bundle-size-report.txt
.emacs.*
.idea
*.mp4
junit.xml
docker/docker-compose
cypress/videos/
cypress/screenshots/
test-results/
.next/
build/
dist/
service-worker.js
service-worker.js.map
.buildId
