# TODO: remove this once all packages have fixed their peerDependency issues

# Known remaining packages:
# - react-plaid-link: needs upgrade to latest version, which is a big breaking change
# - material-ui-chip-input: no fix, we need to fork it

legacy-peer-deps=true
