.header-area-content {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: #fff;
}

.header-title, .h1 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 100;
  vertical-align: top;
}

@media (max-width: 900px) {
  .header-title, .h1 {
    font-size: 33px;
    line-height: 1.25em;
  }
}

.header-subtitle {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 100;
  vertical-align: top;
  padding: 12px 18px;
  margin-top: 18px;
  margin-left: -3px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

.header-cta {
  margin: 24px auto 0 auto;
  padding: 12px;
  max-width: 240px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.apply-sent {
  padding-top: 1px;
  color: #38C88A;
  font-size: 16px;
  line-height: 24px;
}

.apply-sent,
.apply-sent * {
  vertical-align: middle;
}

.apply-sent svg {
  transform: translateY(-2px);
}

.button {
  position: relative;
  border-color: rgba(255, 255, 255, 0) !important;
  transform-origin: center top;
}

.button,
.button > * {
  font-size: 18px !important;
  color: #fff !important;
  transition: all 0.4s ease !important;
}

.button > * {
  z-index: 2;
}

@media (max-width: 1000px) {
  .button,
  .button > * {
    font-size: 18px !important;
  }
}

.button::after {
  position: absolute;
  display: block;
  content: '';
  left: -1px;
  top: -1px;
  z-index: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  pointer-events: none;
  background-color: #38C88A;
  box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);

  opacity: 1;
  transform: scale(1);
  border-radius: 4px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: opacity, transform, border-radius;
}

.button:hover {
  border-color: #fff !important;
  color: #fff !important;
}

.button:hover,
.button:hover > * {
  color: #fff !important;
}

.button:hover::after {
  opacity: 0;
  transform: scale(1.125, 1.75);
}

.header-area-shade-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: radial-gradient(ellipse at bottom center, rgba(0, 255, 155, 0.25) 0%, rgba(0, 255, 155, 0) 60%);
}
