.container {
  position: relative;
  max-width: 1500px;
  width: calc(100% - 48px);
  margin: 0 auto;
  z-index: 3;
}

@media (max-width: 800px) {
  .container {
    width: calc(100% - 24px);
  }
}

.video {
  background-color: rgba(0, 0, 0, 0.015);
  width: 100%;
  max-height: 640px;
  display: block;
}
