.container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #E0E9F2;
  margin: 12px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease, border 0.2s ease;
}

.container:hover {
  background: rgba(224, 233, 242, 0.42);
}

.container img,
.container svg {
  max-width: 55px;
  max-height: 51px;
}

.icon {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 0;
}

.icon * {
  fill: #B1C5DA !important;
  transition: fill 0.2s ease 0s;
}

.selected {
  border-color: #0E68FD;
}

.selected .icon * {
  fill: #0E68FD !important;
}

.name {
  height: 36px;
}

@media (max-width: 800px) {
  .container {
    width: 144px;
    height: 144px;
    margin: 6px;
  }
}
