.tiles {
  margin-bottom: 24px;
  vertical-align: top;
}

.tiles > * {
  display: inline-block;
  overflow: hidden;
}

.tiles > * {
  animation: tile-appear 0.54s ease backwards;
}

@keyframes tile-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  padding: 12px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .tiles {
    margin-left: -6px;
    margin-right: -24px;
  }

  .title {
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: 801px) {
  .actions {
    padding: 48px !important;
    padding-top: 0 !important;
  }
}

.button {
  animation: button-appear 0.4s cubic-bezier(0.8, 0, 0, 1);
}

@media (max-width: 800px) {
  .button {
    transform: scale(1) !important;
  }
}

@keyframes button-appear {
  0% {
    opacity: 0;
    transform: scale(0);
    transition-timing-function: ease-in;
  }

  61% {
    opacity: 1;
    transform: scale(1.15);
    transition-timing-function: ease-out;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transition-timing-function: ease-out;
  }
}
