@media (min-width: 800px) {
  .container {
    max-width: calc(100% - 96px);
  }
}

.expertise-content {
  font-size: 12px;
  color: white;
}

.placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.error {
  color: rgb(244, 67, 54);
  margin-left: 5px;
}

.edit {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}
