.icon,
.chip {
  cursor: pointer;
  margin-left: 6px !important;
  margin-top: -2px !important;
}

.icon {
  color: #aaa;
}

.avatar {
  width: 24px !important;
  padding: 0 !important;
  margin-right: -9px !important;
}

.chip,
.avatar {
  height: 24px !important;
  background-color: #aaa !important;
}
