.container {
  height: 38px;
  background: #F3F7FB;
  border: 2px solid #E0E9F2;
  transition: border 0.2s ease;
  color: #96ADC6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 9px;
  box-sizing: border-box;
  flex-grow: 0 !important;
  min-width: auto !important;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  z-index: 1 !important;
}

@media (max-width: 800px) {
  .container {
    font-size: 12px;
    margin-top: 0;
    padding: 0 6px;
  }
}
