.header {
  display: flex;
  padding-top: 12px;
}

.title {
  margin-right: 24px;
}

.sum {
  display: flex;
  font-size: 17px;
}

.sum * {
  vertical-align: middle;
}

.sum svg {
  margin-top: -3px;
}

.up {
  margin-right: 12px;
}

.up,
.up * {
  fill: #2ECB80;
  color: #2ECB80;
}

.down,
.down * {
  fill: #F16083;
  color: #F16083;
}
