.container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.filename,
.errorText {
  margin-top: 8px;
  font-size: 0.75rem;
}

.filename {
  color: blue;
}

.errorText {
  color: #f44336;
}
