.passwordSetup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90%;
}

.passwordSetup {
  margin: 48px 0;
  min-width: 240px;
  width: 480px;
}

@media (max-width: 800px) {
  .passwordSetup-container {
    min-height: 0;
  }

  .passwordSetup {
    margin: 0;
  }
}

.logo {
  width: 168px;
  display: block;
  margin: 24px auto 36px auto;
}

.box {
  margin-top: 18px !important;
  margin-left: 36px !important;
  margin-bottom: 18px !important;
  margin-right: 36px !important;
  padding: 0 !important;
}

@media (max-width: 800px) {
  .box {
    margin: 24px !important;
    padding: 0 !important;
  }
}

.footer {
  font-size: 13px;
  padding-top: 20px !important;
  color: rgba(54, 22, 22, 0.6);
  text-align: center;
}

.copy {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 1.5em;
  margin: 0 auto 24px auto;
}

.copy,
.copy span {
  transition: color 1s ease;
}

.remember {
  color: rgba(0, 0, 0, 0.6);
  margin: 12px auto 24px auto;
}

.remember,
.remember label {
  font-size: 13px !important;
}

.forgot-password {
  display: block;
  font-size: 13px;
  text-align: right;
}

.anim-items > * {
  animation: field-appear 0.4s ease-out 0.4s backwards;
}

.anim-items > *:nth-of-type(1) {
  animation-delay: 0s;
}

.anim-items > *:nth-of-type(2) {
  animation-delay: 0.1s;
}

.anim-items > *:nth-of-type(3) {
  animation-delay: 0.2s;
}

.anim-items > *:nth-of-type(4) {
  animation-delay: 0.3s;
}

@keyframes field-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

.passwordSetup-button {
  text-align: left;
  margin-bottom: 24px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.email {
  font-weight: bold;
  margin: 12px 0;
  font-size: 1.2rem;
}
