.container {
  display: flex;
}

.input {
  flex-grow: 1;
  min-height: 36px;
}

.input > * {
  vertical-align: middle;
}

.secondary-actions {
  min-width: 0;
  padding-left: 12px;
  box-sizing: border-box;
}

.helper-text {
  padding-bottom: 1px;
}

.add-button {
  animation: button-appear 0.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes button-appear {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
