.container {
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 12px;
  border-radius: 4px;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}

.container,
.container * {
  color: #ff0 !important;
}

@keyframes container-appear {
  from {
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
}
