.info {
  color: #96ADC6;
  text-align: center;
  line-height: 2em;
  font-size: 14px;
  margin-top: 12px;
}

@media (min-width: 1000px) {
  .info {
    margin-top: 24px !important;
  }
}

.info strong {
  font-weight: 500;
}
