.start-button,
.end-button,
.disabled-button {
  min-width: 200px !important;
}

.start-button {
  background-color: rgb(0, 51, 204) !important;
  color: #fff !important;
}

.end-button {
  background-color: rgb(205, 0, 0) !important;
  color: #fff !important;
}

.disabled-button {
  background-color: rgb(175, 175, 175) !important;
  color: #fff !important;
}

.button-icon {
  margin-right: 12px !important;
}

.progress-wrapper {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}

.progress-wrapper svg {
  color: #fff !important;
}
