.container {
  position: absolute;
  left: calc(50% - 96px);
  top: calc(50% - 96px);
  width: 192px;
  height: 192px;
  z-index: 2;
  opacity: 0;
  animation: appear 1.75s ease;
}

.icon {
  width: 192px !important;
  height: 192px !important;
  color: rgb(0, 205, 0) !important;
  text-shadow:
    1px 1px 0 rgba(0, 0, 0, 0.1),
    -1px 1px 0 rgba(0, 0, 0, 0.1),
    1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px -1px 0 rgba(0, 0, 0, 0.1),
    0px 1px 0 rgba(0, 0, 0, 0.1),
    0px -1px 0 rgba(0, 0, 0, 0.1),
    -1px 0px 0 rgba(0, 0, 0, 0.1),
    1px 0px 0 rgba(0, 0, 0, 0.1),
    2px 2px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 0 rgba(0, 0, 0, 0.1),
    2px -2px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 0 rgba(0, 0, 0, 0.1),
    0px 2px 0 rgba(0, 0, 0, 0.1),
    0px -2px 0 rgba(0, 0, 0, 0.1),
    -2px 0px 0 rgba(0, 0, 0, 0.1),
    2px 0px 0 rgba(0, 0, 0, 0.1),
    1px 2px 0 rgba(0, 0, 0, 0.1),
    -1px 2px 0 rgba(0, 0, 0, 0.1),
    1px -2px 0 rgba(0, 0, 0, 0.1),
    -1px -2px 0 rgba(0, 0, 0, 0.1),
    2px 1px 0 rgba(0, 0, 0, 0.1),
    -2px 1px 0 rgba(0, 0, 0, 0.1),
    2px -1px 0 rgba(0, 0, 0, 0.1),
    -2px -1px 0 rgba(0, 0, 0, 0.1);

  filter: drop-shadow(0 0 48px #000);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  25%, 75% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
