.container {
  padding: 0 48px;
  margin-bottom: 96px;
}

.content {
  padding: 48px;
  padding-left: 144px;
}

@media (max-width: 1160px) {
  .container {
    padding: 0 24px;
  }

  .content {
    padding-left: 48px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 12px;
  }

  .content {
    padding: 12px;
    padding-left: 12px;
  }
}

.heading {
  font-size: 34px;
  font-weight: 400;
  margin: 48px 0;
}

@media (max-width: 800px) {
  .heading {
    font-size: 30px;
    margin: 12px 0 36px 0;
  }
}

.divider {
  width: 600px;
  margin: 144px auto;
  background-color: rgba(0, 0, 0, 0.14);
  height: 2px;
}
