.container {
  color: #0033cc;
  display: flex;
}

@media (max-width: 899px) {
  .container {
    font-size: 13px;
  }
}

.text {
  margin-top: 24px !important;
}

.icon-button {
  height: 100%; /* fixes "tall" button in flex container */
  margin-top: -12px !important;
  margin-bottom: -12px !important;
  margin-left: 12px !important;
  color: #0033cc !important;
}

.subheader-subtitle-separator {
  display: inline-block;
  margin: 0 6px;
}

.subheader-subtitle-separator::before {
  content: '·';
}

.placeholder {
  opacity: 0.6;
}

.hint {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 800px) {
  .hint {
    font-size: 10px;
  }
}

.rate-part {
  display: flex;
  align-items: top;
}

@media (min-width: 600px) {
  .rates {
    display: flex;
    align-items: top;
  }

  .rates > *:not(:first-child) {
    padding-left: 12px;
  }

  .rates > *:not(:last-child) {
    padding-right: 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
}
