.wrapper {
  position: relative;
}

.separator {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100px;
  margin: 48px auto;
  animation: separator-appear 0.5s ease;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.message {
  margin-bottom: 24px;
  padding: 24px;
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.55em;
  animation: message-appear 0.5s ease;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

.message::after {
  content: '';
  display: block;
  clear: both;
}

.message-icon {
  float: left;
  padding-top: 6px;
  width: 48px;
}

.message-text {
  float: right;
  width: calc(100% - 48px);
}

.item {
  animation: item-appear 0.5s cubic-bezier(0.8, 0, 0, 1);
  animation-delay: 600ms;
  animation-fill-mode: backwards;
  margin-bottom: -12px;
}

.item:nth-of-type(1) {
  animation-delay: 0ms;
}

.item:nth-of-type(2) {
  animation-delay: 150ms;
}

.item:nth-of-type(3) {
  animation-delay: 300ms;
}

.item:nth-of-type(4) {
  animation-delay: 450ms;
}

@keyframes item-appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes message-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes separator-appear {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.clear-filters-button {
  margin-left: 12px !important;
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}

@media (max-width: 500px) {
  .clear-filters-button {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.bottom-navigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 4; /* has to appear over the cards in the page */
  animation: bottom-navigation-appear 0.5s ease;
}

@keyframes bottom-navigation-appear {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.description {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.07));
  margin: -12px -12px 12px -24px;
  padding: 6px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 27px;
}

.page-edge {
  padding: 0 20px 15px 20px;
}

.message,
.description {
  text-align: center;
}

.message {
  font-size: 21px;
  color: #333;
  margin-top: 10px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-top: 15px;
}

.icon {
  fill: #777!important;
  height: 80px!important;
  width: 80px!important;
  margin-top: -100px;
}

.itemSeparator {
  height: 12px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.273) inset;
  background: rgba(0, 0, 0, 0.0921);
  margin: 0 -24px;
}

.item {
  animation: item-appear 0.5s cubic-bezier(0.8, 0, 0, 1);
  animation-delay: 600ms;
  animation-fill-mode: backwards;
}

.item:nth-of-type(1) {
  animation-delay: 0ms;
}

.item:nth-of-type(2) {
  animation-delay: 150ms;
}

.item:nth-of-type(3) {
  animation-delay: 300ms;
}

.item:nth-of-type(4) {
  animation-delay: 450ms;
}

@keyframes item-appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pagination {
  margin-top: -12px;
  animation: pagination-appear 1.6s ease;
}

@keyframes pagination-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link {
  text-decoration: none !important;
  margin-right: 12px !important;
}

.iconTab {
  display: flex;
  flex-direction: row;
  align-items: center;
}
