.actions {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.actions > * {
  margin-left: 12px !important;
}

.total {
  height: 100%;
  display: flex;
  align-items: center;
}
