.panel {
  box-shadow: none !important;
  background: none !important;
}

.panel::before {
  display: none !important;
}

.summary {
  background: #fff !important;
  color: #93A6BA;
  text-transform: uppercase !important;
  font-size: 13px !important;
  padding: 0 12px !important;
  transition-duration: 338ms !important;
}

.header {
  color: #96ADC6;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  margin-right: 12px;
}

.header svg {
  height: 24px;
  width: 24px;
  margin-right: 12px !important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  padding-top: 12px !important;
}

.chip {
  margin-top: -2px !important;
  margin-left: 4px !important;
  height: 22px !important;
  animation: chip-appear 0.2s ease;
}

@media (max-width: 800px) {
  .chip {
    margin-top: -4px !important;
  }
}

.chip > * {
  color: #fff !important;
  font-weight: 500 !important;
  padding: 0 7px 0 8px !important;
}

@keyframes chip-appear {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.chevron {
  margin-left: auto;
  transition: transform 0.4s ease;
}
