.primary {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 100%;
  max-width: 100%;
  display: block;
}

.secondary {
  font-size: 12px;
  color: #96ADC6;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 100%;
  max-width: 100%;
  display: block;
}

.icon {
  color: #8CA4BA !important;
  min-width: 32px !important;
  margin-right: 0 !important;
}

@media (max-width: 800px) {
  .primary {
    font-size: 12px;
  }

  .secondary {
    font-size: 12px;
  }

  .icon {
    min-width: 30px !important;
  }

  .icon svg {
    width: 18px !important;
    height: 18px !important;
  }
}
